@import "tailwindcss";

@theme {
  --color-primary: #94e28d;
  --color-background-light: #f7f8f5;
  --color-background-dark: #1d2210;
  --font-display: "Space Grotesk", sans-serif;
}

@layer base {
  body {
    @apply bg-background-light text-slate-900 font-display;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
